
@{
    ViewBag.Title = "_Header";
}

@*model ShopFurniture_2_Web.Models.UserData*@
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
    <div class="container">
        @*<a class="navbar-brand" href="https://localhost:44323/Home/Index">Furni<span>.</span></a>*@
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Furni<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item ">
                    <a class="nav-link" href="https://localhost:44323/Home/Index">Home</a>
                </li>
                <li><a class="nav-link" href="https://localhost:44323/Home/Shop">Shop</a></li>
                <!--
                <li class="active"><a class="nav-link" href="https://localhost:44323/Home/AboutUs">About us</a></li>
                -->
                <li><a class="nav-link" href="https://localhost:44323/Home/AboutUs">About us</a></li>
                <li><a class="nav-link" href="https://localhost:44323/Home/Services">Services</a></li>
                <li><a class="nav-link" href="https://localhost:44323/Home/Blog">Blog</a></li>
                <li><a class="nav-link" href="https://localhost:44323/Home/Contact">Contact us</a></li>

            </ul>

                        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li>
                    <a class="nav-link" href="https://localhost:44323/Login/Login">
                        <img src="~/PackFurni/Images/user.svg">
                        <span class="profile-address"></span>

                        <!--Html.DisplayFor(u => u.UserName) -->

                    </a>
                </li>
            

            <li><a class="nav-link" href="https://localhost:44323/Home/Cart"><img src="~/PackFurni/Images/cart.svg"></a></li>
            </ul>
        </div>
    </div>
</nav>
